.about{
    width: 80%;
    margin: 3rem 2rem;
}

.about_app{
    width: 80%;
    margin: 3rem 2rem;
}

.about_author{
    width: 80%;
    margin: 3rem 2rem;
}

.bg_content{
    background-color: violet;
    background-size: 100%;
    height: 100vh;
    margin-bottom: 100px;
}

.btn_notfound{
    width: 200px;
    color: white;
    padding: 1rem;
    background-color: #3957ED;
    font-weight: bold;
    text-decoration: none;
    letter-spacing: 1px;
    border-radius: 10px;
}

.btn_notfound:hover{
    color: violet;
}

.gambar {
    width: 250px;
}
